body{ 
    /* background-image: linear-gradient(135deg, #b55088 25%, #99477e 25%, #99477e 50%, #b55088 50%, #b55088 75%, #99477e 75%, #99477e 100%); */
    /* background-image: linear-gradient(135deg, #7bebf2 25%, #5acbed 25%, #5acbed 50%, #7bebf2 50%, #7bebf2 75%, #5acbed 75%, #5acbed 100%); */
    /* background-image: linear-gradient(135deg, #9f83bd 25%, #c18bbd 25%, #c18bbd 50%, #9f83bd 50%, #9f83bd 75%, #c18bbd 75%, #c18bbd 100%); */
    /* background-image: linear-gradient(135deg, #b86f50 25%, #a36246 25%, #a36246 50%, #b86f50 50%, #b86f50 75%, #a36246 75%, #a36246 100%); */
    background-image: linear-gradient(135deg, #a8cf6b 25%, #95c364 25%, #95c364 50%, #a8cf6b 50%, #a8cf6b 75%, #95c364 75%, #95c364 100%);
    background-size: 181.02px 181.02px;

    /* background-image: linear-gradient(135deg, #a8cf6b 25%, #95c364 25%, #95c364 50%, #a8cf6b 50%, #a8cf6b 75%, #95c364 75%, #95c364 100%); */
    /* background-size: 64.02px 64.02px; */
    /* background-size: 32px 32px; */

}

h1{
    color: #265c42;
    text-align: center;
    text-shadow: 
        0px 2px 0px #193c3e,
        0px 4px 0px #193c3e,
        0px 6px 0px #193c3e,
        0px 8px 0px #193c3e,
        3px 11px 0px #00000074;
        /* border: 2px solid red; */
    
    position: relative;
    top: 0;
    transition: 
        top ease 0.2s,
        text-shadow ease 0.2s;
}
a>h1:hover {
    top: -2px;
    text-shadow: 
        0px 2px 0px #193c3e,
        0px 5px 0px #193c3e,
        0px 7px 0px #193c3e,
        0px 10px 0px #193c3e,
        5px 13px 0px #00000074;
        /* border: 2px solid red; */
}

h2{
    color: #193c3e;
}


.aboutmeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 70%;
}


/* @media (min-width: 900px) {
    .cardGrid { flex-direction: column }
} */

.aboutmeCard {
    width: 14em;
    height: 100%;

    margin-right: 2em;
}

.aboutmePic {
    /* width: 256px; */
    object-fit: cover;
    /* width: 13em;
    height: 16em; */
    border-radius: 1em;
}

.aboutmeDescription {
    width: 70%;
    max-width: 500px;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.aboutmeContactme {
    width: 70%;
    max-width: 800px;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* h1{
    color: #3f2829;
    text-align: center;
    text-shadow: 
        0px 2px 0px #261b1e,
        0px 4px 0px #261b1e,
        0px 6px 0px #261b1e,
        0px 8px 0px #261b1e,
        3px 11px 0px #00000074;
    
    position: relative;
    top: 0;
    transition: 
        top ease 0.2s,
        text-shadow ease 0.2s;
}
a>h1:hover {
    top: -2px;
    text-shadow: 
        0px 2px 0px #261b1e,
        0px 5px 0px #261b1e,
        0px 7px 0px #261b1e,
        0px 10px 0px #261b1e,
        5px 13px 0px #00000074;
}

h2{
    color: #3f2829;
} */
